diff --git a/kernel/build/config-arm64 b/kernel/build/config-arm64
--- a/kernel/build/config-arm64
+++ b/kernel/build/config-arm64
 CONFIG_CC_VERSION_TEXT="gcc (GCC) 12.2.0"
 CONFIG_CC_IS_GCC=y
@@ -1898,7 +1898,7 @@ CONFIG_PCI_HISI=y
 CONFIG_PCIE_QCOM=y
 # CONFIG_PCIE_QCOM_EP is not set
 CONFIG_PCIE_ARMADA_8K=y
-# CONFIG_PCIE_ROCKCHIP_DW_HOST is not set
+CONFIG_PCIE_ROCKCHIP_DW_HOST=y
 # CONFIG_PCIE_KIRIN is not set
 # CONFIG_PCIE_HISI_STB is not set
 # CONFIG_PCI_MESON is not set
@@ -2101,6 +2101,7 @@ CONFIG_ZYNQMP_FIRMWARE=y
 
 # CONFIG_GNSS is not set
 CONFIG_MTD=y
+CONFIG_MTD_NAND_ROCKCHIP=m
 # CONFIG_MTD_TESTS is not set
 
 #
@@ -3751,7 +3752,11 @@ CONFIG_SPI_ORION=y
 CONFIG_SPI_PL022=y
 # CONFIG_SPI_PXA2XX is not set
 CONFIG_SPI_ROCKCHIP=y
-# CONFIG_SPI_ROCKCHIP_SFC is not set
+CONFIG_SPI_ROCKCHIP_SFC=m
+CONFIG_VIDEO_ROCKCHIP_RGA=m
+CONFIG_VIDEO_ROCKCHIP_ISP1=m
+CONFIG_VIDEO_HANTRO_ROCKCHIP=y
+
 # CONFIG_SPI_RSPI is not set
 # CONFIG_SPI_QCOM_QSPI is not set
 CONFIG_SPI_QUP=y
@@ -4709,9 +4714,9 @@ CONFIG_DRM_GEM_SHMEM_HELPER=y
 # CONFIG_DRM_NOUVEAU is not set
 # CONFIG_DRM_VGEM is not set
 # CONFIG_DRM_VKMS is not set
-CONFIG_DRM_ROCKCHIP=y
+CONFIG_DRM_ROCKCHIP=m
 CONFIG_ROCKCHIP_VOP=y
-# CONFIG_ROCKCHIP_VOP2 is not set
+CONFIG_ROCKCHIP_VOP2=y
 CONFIG_ROCKCHIP_ANALOGIX_DP=y
 CONFIG_ROCKCHIP_CDN_DP=y
 CONFIG_ROCKCHIP_DW_HDMI=y
@@ -4720,6 +4725,16 @@ CONFIG_ROCKCHIP_INNO_HDMI=y
 CONFIG_ROCKCHIP_LVDS=y
 CONFIG_ROCKCHIP_RGB=y
 CONFIG_ROCKCHIP_RK3066_HDMI=y
+CONFIG_SND_SOC_ROCKCHIP=m
+CONFIG_SND_SOC_ROCKCHIP_I2S=m
+CONFIG_SND_SOC_ROCKCHIP_I2S_TDM=m
+CONFIG_SND_SOC_ROCKCHIP_PDM=m
+CONFIG_SND_SOC_ROCKCHIP_SPDIF=m
+CONFIG_SND_SOC_ROCKCHIP_MAX98090=m
+CONFIG_SND_SOC_ROCKCHIP_RT5645=m
+CONFIG_VIDEO_ROCKCHIP_VDEC=m
+
+
 # CONFIG_DRM_VMWGFX is not set
 # CONFIG_DRM_UDL is not set
 # CONFIG_DRM_AST is not set
@@ -7306,15 +7321,15 @@ CONFIG_PHY_MTK_UFS=y
 # CONFIG_PHY_RCAR_GEN3_USB2 is not set
 # CONFIG_PHY_RCAR_GEN3_USB3 is not set
 CONFIG_PHY_ROCKCHIP_DP=y
-# CONFIG_PHY_ROCKCHIP_DPHY_RX0 is not set
+CONFIG_PHY_ROCKCHIP_DPHY_RX0=m
 CONFIG_PHY_ROCKCHIP_EMMC=y
 CONFIG_PHY_ROCKCHIP_INNO_HDMI=y
 CONFIG_PHY_ROCKCHIP_INNO_USB2=y
-# CONFIG_PHY_ROCKCHIP_INNO_CSIDPHY is not set
+CONFIG_PHY_ROCKCHIP_INNO_CSIDPHY=m
 CONFIG_PHY_ROCKCHIP_INNO_DSIDPHY=y
-# CONFIG_PHY_ROCKCHIP_NANENG_COMBO_PHY is not set
+CONFIG_PHY_ROCKCHIP_NANENG_COMBO_PHY=y
 CONFIG_PHY_ROCKCHIP_PCIE=y
-# CONFIG_PHY_ROCKCHIP_SNPS_PCIE3 is not set
+CONFIG_PHY_ROCKCHIP_SNPS_PCIE3=y
 CONFIG_PHY_ROCKCHIP_TYPEC=y
 CONFIG_PHY_ROCKCHIP_USB=y
 # CONFIG_PHY_SAMSUNG_USB2 is not set
@@ -7383,8 +7398,8 @@ CONFIG_NVMEM_BCM_OCOTP=y
 # CONFIG_NVMEM_MTK_EFUSE is not set
 # CONFIG_NVMEM_QCOM_QFPROM is not set
 # CONFIG_NVMEM_RMEM is not set
-CONFIG_NVMEM_ROCKCHIP_EFUSE=y
-CONFIG_NVMEM_ROCKCHIP_OTP=y
+CONFIG_NVMEM_ROCKCHIP_EFUSE=m
+CONFIG_NVMEM_ROCKCHIP_OTP=m
 # CONFIG_NVMEM_SNVS_LPGPR is not set
 # CONFIG_NVMEM_SPMI_SDAM is not set
 # CONFIG_NVMEM_SPRD_EFUSE is not set
